/*section 1*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background-color:linear-gradient(to bottom, #ffffff, #b4d4ba);
  color:#0b4f2b;
  overflow-x:hidden;
}

/* Navigation */

nav{
  position:fixed;
  top:0;
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 40px;

  background:linear-gradient(rgba(205, 226, 207, 0.9), rgba(183, 216, 186, 0.6));

  backdrop-filter:blur(6px);

  border-bottom:3px solid rgba(11,79,43,0.06);

  z-index:1000;
}

nav h2{
  color:#064e30;
  letter-spacing:2px;
}

/*Section 2*/

nav ul{
  display:flex;
  list-style:none;
  gap:25px;
}

nav a{
  color:#0b4f2b;
  text-decoration:none;
  transition:0.3s;
}
/* Hero */

.hero-page{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;

  position:relative;

  background:
  url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVBZOtTkUM7jFmlrrBxPNomndgYX7avk2jZA&s')
  center/cover;
}

.overlay{
  position:absolute;
  inset:0;

  background:
  linear-gradient(rgba(255,255,255,0.6),
  rgba(255,255,255,0.85));
}

.hero-content{
  position:relative;
  z-index:5;

  max-width:900px;

  padding:50px;

  background:rgba(255,255,255,0.9);

  border:1px solid rgba(11,79,43,0.08);
  border-radius:30px;

  backdrop-filter:blur(10px);
}

.hero-content h1{
  font-size:60px;
  margin-bottom:20px;
  color:#064e30;
}

.hero-content p{
  line-height:1.8;
  margin-bottom:30px;
  color:#0b4f2b;
}

.main-button{
  display:inline-block;

  padding:15px 35px;
  
  background:
  linear-gradient(135deg,#0f7a4a,#064e30);

  border-radius:40px;

  color:#ffffff;
text-decoration: none;
  font-weight:bold;

  transition:0.3s;
}

.main-button:hover{
  transform:translateY(-8px);
}

/* Section 3 */
/* Pages */

.content-page{
  padding:150px 10%;
  padding-bottom:300px;
}

.content-page h1{
  font-size:3rem;
  margin-bottom:25px;

  color:#064e30;
}

.content-page p{
  line-height:1.9;
  max-width:900px;

  color:#0b4f2b;
}

/* Cards */

.card-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));

  gap:30px;

  margin-top:50px;
}

.glass-card{
  margin-top:40px;

  padding:30px;

  background:rgba(255,255,255,0.95);

  border:5px solid rgba(11,79,43,0.06);
  border-radius:25px;

  transition:0.4s;
}

.glass-card:hover{
  transform:translateY(-10px);

  border-color:#0f7a4a;

  box-shadow:
  0 0 25px rgba(11,79,43,0.08);
}

.glass-card h2{
  margin-bottom:15px;

  color:#064e30;
}

/* Bouncing Animation */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
}

.dialog-text{
  font-size:10px;
}

.bigga{
  width:200px;
  height:175px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:40px;
}

.bigga:hover {
  animation: bounce infinite 1.5s;
}

.quizNPC{
  width:1000px;
  height:150px;
  padding:10px;
  background-color:rgba(6, 78, 48);
  display:flex;
  justify-content:left;
  align-items:relative  ;
  font-size:24px;
  border-radius:25px;
  margin-bottom:20px;
}

.quizTime{
  color:#eef4f2;
  background:blur(10px);
  background-color:rgba(24, 97, 30, 0.559);
  border:5px solid rgba(23, 63, 41, 0.274);
  border-radius:15px;
}

.biggaDialog{
  color:#d8dfdd;
  border:1px solid rgba(11,79,43,0.06);
  border-radius:25px;
  padding:20px;
  background:rgba(255,255,255,0.95);
}


.quizQuestion{
  font-size:20px;
  margin-bottom:20px;
  color:#91a39c;
}

.quizOutput{
  font-size:18px;
  margin-top:20px;
  color:#0b4f2b;
}

section.quiz{
  padding:50px;
  display:grid;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quizSubmit{
  display:inline-block;
  padding:10px 20px;
  background:linear-gradient(135deg,#0f7a4a,#064e30);
  border-radius:10px;
  color:#ffffff;
  transition:0.3s;
}

.quizInput{
  padding:10px;
  border:1px solid rgba(11,79,43,0.06);
  border-radius:10px;
  width:200px;
}

.quizSubmit:hover{
  transform:translateY(-5px);
}